PORT=3000

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=mydatabase
DB_USER=postgres
DB_PASSWORD=1111

MAIN_DOMAIN=localhost
URL_PREFIX=www.
DEPLOY_PATH_PREFIX=/var/www/

HETZNER_DNS_TOKEN=xxxxxxxxxxxxxxxx
HETZNER_ZONE_ID=abcdef123456
HETZNER_API_URL=https://dns.hetzner.com/api/v1
SERVER_IP=1.2.3.4