PORT=3000

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=mydatabase
DB_USER=postgres
DB_PASSWORD=1111

MAIN_DOMAIN=localhost
URL_PREFIX=www
DEPLOY_PATH_PREFIX=/var/www/

HETZNER_DNS_TOKEN=xxxxxxxxxxxxxxxx
HETZNER_ZONE_ID=abcdef123456
HETZNER_API_URL=https://dns.hetzner.com/api/v1
SERVER_IP=1.2.3.4

JWT_SECRET=super-secret-key
JWT_EXPIRES_IN=7d

### Google Auth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

### Сron Intervals
DEPLOY_PRELANDINGS_CRON_INTERVAL =*/5 * * * *  # every 5 minutes
DEPLOY_PRELANDINGS_BATCH_SIZE=10
PUSH_TASK_CRON_INTERVAL=*/60 * * * * * # every 60 seconds
PUSH_SEND_BATCH_SIZE=50